<% provide(:title, 'Edit Your Masterpiece') %>

<h3>It Ain't Over Till It's Perfect</h3>

<div class="row">
  <aside class="col-md-6">
    <section class="user_info">
      <%= render 'shared/user_info' %>
    </section>
    <section class="work_form">
      <%= render 'shared/work_form' %>
    </section>
  </aside>
  <aside class="col-md-6">
    <h3>Writing Tools</h3>
    <section class="rhyme_generator">
      <p>Insert Rhymer Here</p>
    </section>
    <section class="dictionary">
      <p>Insert Dictionary Here</p>
    </section>
    <section class="thesaurus">
      <p>Insert Thesaurus Here</p>
    </section>
  </aside>
</div>
